<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <!-- Rolling file log next to the exe, keep 7 days -->
    <target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/OE2EmpireTracker.log"
            archiveFileName="${basedir}/logs/OE2EmpireTracker.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            layout="${longdate} [${level:uppercase=true}] ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" />

    <!-- Debug output window in Visual Studio -->
    <target xsi:type="Debugger"
            name="debugger"
            layout="${level:uppercase=true} ${logger} - ${message}${onexception: ${exception:format=tostring}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Info"  writeTo="file" />
  </rules>

</nlog>
